################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LabVector/v17
/week04/.vs/LabLinkedList/v17/Browse.VC.opendb
